.add-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vh;
  padding: 1rem;
  margin: 1.5rem;
  min-width: 90%;
}

button {
  padding: 10px 40px;
  background-color: black;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 30px;
  border: none;
}

button:hover {
  background-color: #22b300;
}

form {
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 8px 55px;
  background-color: #22b300;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: black;
}

@media (min-width: 672px) {
  form {
    padding: 40px;
    width: 500px;
    height: 500px;
  }

  input,
  select {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 2px;
  }
}
