.scroll-to-top {
  position: fixed;
  bottom: 5%;
  margin-bottom: 10px;
  right: 12%;
  background-color: black;
  color: white;
  border: none;
  padding: 2px 1px;
  border-radius: 7px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 50px;
  box-shadow: 0px 0px 20px rgba(82, 81, 81, 0.6);
  z-index: 9999;
}

.scroll-to-top:hover {
  background-color: #22b300;
}

.scroll-to-top.visible {
  opacity: 1;
}

@media (min-width: 577px) {
  .scroll-to-top {
    bottom: 7%;
    right: 5%;
    padding: 14px 10px;
  }
}
