@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/public/gggrain.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex-grow: 1;
}

header,
footer {
  display: grid;
  padding: 2rem;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
}

header h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

header h1 span {
  display: block;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
  margin-top: 1rem;
  font-size: 12px;
}

footer a:hover {
  color: #22b300;
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  header h1 {
    font-family: "Press Start 2P", cursive;
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 5rem;
  }

  footer p {
    font-weight: bold;
    font-family: "Press Start 2P", cursive;
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
  }
}

@media (min-width: 1023px) {
  header {
    margin: 2rem 10%;
  }
}

@media (min-width: 1440px) {
  header {
    margin: 2rem 20%;
  }
}
