.navigator {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
}

.socials {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.socials:hover svg path {
  fill: #22b300;
}

@media (max-width: 767px) {
  .navigator {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .socials {
    padding: 0 0;
    width: 100px;
    height: 100%;
  }
  .linkedin {
    margin-right: 1rem;
  }
}
